<!DOCTYPE html>
<html>
<head>
  <title>Bluit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container wrap">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <%= link_to "Bluit", root_path %>
      </header>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <main>
          <!-- BEGIN main content -->
          <%= yield %>
          <!-- END main content -->
        </main>
      </div>
      <div class="col-xs-4">
        <nav id="sidebar">
          <%= link_to "Submit a new link", new_post_path %>
        </nav>
      </div>
    </div>
  </div>
  <div class="push"></div>
</div>

<footer>
  Use of this site constitutes acceptance of the <a href="http://dresdenfiles.wikia.com/wiki/Unseelie_Accords">Unseelie Accords</a>.
</footer>

</body>
</html>
